<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="2_X2O6aingsBwHGSEBjgkarsMwLZNY3c2jhkh2rWWWw" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Learn Web Development for free">
  <meta name="author" content="Abhishekkumar">
  <meta name="keywords" content="Learn Web Development ,learn html , learn css ,  Coding Articles , Coding Tips , Coding Trick ,Learn JavaScript">
  <meta name="robots" content="index, follow">

  <title>Coding Thunder</title>
  <link rel="stylesheet" href="static/css/main.css" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700;1,900&family=Open+Sans+Condensed:wght@300&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html {
      scroll-behavior: smooth;
    }

    section {
      margin-top: 10px;
    }

    *,
    h1,
    h6,
    h5 {
      font-family: 'Merriweather', serif;
    }
    .counter-box {
      background: url('//4.bp.blogspot.com/-Tev2WNGyFs8/WaUuh31ZVRI/AAAAAAAADuY/5D9_uZ3rgrY9cVKC46DXxPMlXlxCOmB4gCK4BGAYYCw/s1600/sg-back.jpg') no-repeat;
      background-attachment: scroll;
      background-size: cover;
      background-position: 50% 0;
      overflow: hidden;
      margin: 0 auto;
      padding: 40px 0;
      position: relative;
    }

    .counter-box:before {
      background: rgba(0, 0, 0, 0.7);
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
    }

    .counter-box-wrap {
      margin: 0 auto;
    }

    .counter-box-item {
      width: 25%;
      float: left;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
      color: #fff;
      position: relative;
    }

    .counter-box-item i {
      font-size: 24px;
    }

    .counter-sora {
      color: #fff;
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
      margin: 10px 0;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear;
    }

    .counter-sora-text {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #fff;
    }

    .special-tiles,
    .works-tiles,
    .about-tiles,
    .counter-box-item {
      width: 100%;
    }

    .counter-box-item,
    .works-tiles {
      width: 50%;
    }

    .loader {
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .loader>img {
      width: 200px;
    }

    .loader.hidden {
      animation: fadeOut 1s;
      animation-fill-mode: forwards;
    }

    @keyframes fadeOut {
      100% {
        opacity: 0;
        visibility: hidden;
      }
    }
  </style>
</head>

<body class="landing">
  <div class="loader">
    <img src="https://media.giphy.com/media/MDrmyLuEV8XFOe7lU6/giphy.gif" alt="loading..">
  </div>
  <!-- Header -->
  <header id="header" class="alt">
    <h1 style="font-size: 1.2rem;"><a href="index.html">CodingThunder</a></h1>
    <a href="#nav">Menu</a>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="https://abhishekkumar-webdevelopment.github.io/CodingThunderWebDevelopment/index.html">Home</a></li>
      <li><a href="https://abhishekkumar-webdevelopment.github.io/CodingThunderWebDevelopment/about.html">About</a></li>
      <li><a
          href="https://abhishekkumar-webdevelopment.github.io/CodingThunderWebDevelopment/Services.html">Services</a>
      </li>
      <li><a href="https://abhishekkumar-webdevelopment.github.io/CodingThunderWebDevelopment/contact.html">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Banner -->
  <section id="banner">
    <i class="icon fa-diamond"></i>
    <h2>Coding Thunder</h2>
    <p>This Website Is Created By Abhishek Kumar</p>
    <center>
      <h5 class="jumbotron-heading text-light" style="font-size: 30px;"><span id="typed"
          style="font-size: 30px;"></span>
      </h5>
    </center><br>
    <ul class="actions">
      <li><a href="https://abhishekkumar-webdevelopment.github.io/CodingThunderWebDevelopment/about.html"
          class="button big special">About Me</a></li>
      <li><a href="https://abhishekkumar-webdevelopment.github.io/CodingThunderWebDevelopment/contact.html"
          class="button big special">Contact Me</a></li>
    </ul>
  </section>
  </header>

  <center><span>
    <a href="https://abhishekkumar-webdevelopment.github.io/CodingThunderWebDevelopment/index.html" class="btn" id="a_btn"
      style="color: #16c9f6; border: 2px solid #16c9f6; padding-top: 10px; padding-bottom: 10px; font-size: 1.1rem; letter-spacing: 2px; margin-left: 5px; margin-right: 5px; display: flexbox;outline: none; text-emphasis: none; text-decoration: none;">Hompage</a>
    <a href="https://abhishekkumar-webdevelopment.github.io/CodingThunderWebDevelopment/index.html" class="btn" id="a_btn"
      style="color: #4CAF50; border: 2px solid #4CAF50; padding-top: 10px; padding-bottom: 10px; font-size: 1.1rem; letter-spacing: 2px; margin-left: 5px; margin-right: 5px; display: flexbox;outline: none; text-emphasis: none; text-decoration: none;">Web
      Development Tutorial</a>
    <a href="https://abhishekkumar-webdevelopment.github.io/CodingThunderWebDevelopment/contact.html" class="btn" id="a_btn"
      style="color: #906DF7; border: 2px solid #906DF7; padding-top: 10px; padding-bottom: 10px; font-size: 1.1rem; letter-spacing: 2px; margin-left: 5px; margin-right: 5px; display: flexbox;outline: none; text-emphasis: none; text-decoration: none;">Contact
      Me</a>
  </span></center>
  <hr>
  <br>
  </header>

  <section class="header-extradiv">
    <div class="container">
      <h1 class="text-center" style="font-family: 'Poppins', sans-serif;">Learning Material</h1>
    </div>
    <br>
    <hr>
    <br>
    <div class="container">
      <center>
        <h1 class="text-center">Hyper Text Markup Language</h1>
      </center>
      <br>
      <div class="container">
        <h1>What Is Comment?</h1>
        <p> Comments are some text or code written in your code to give an explanation about the code, and not visible
          to the user. Comments which are used for HTML file are known as HTML comments. Anything written between these
          tags will be ignored by the browser, so comments will not be visible on the webpage.</p>
      </div>
      <div class="container">
        <h1>What Is Single Line Comment?</h1>
        <p>An HTML comment begins with <! –– and the comment closes with ––> . HTML comments are visible to anyone that
            views the page source code, but are not rendered when the HTML document is rendered by a browser.</p>
      </div>
      <div class="container">
        <h1>What is Multi Line Comment</h1>
        <p>So far we have seen single line comments, but HTML supports multi-line comments as well. You can comment
          multiple lines by the special beginning tag <! -- and ending tag --> placed before the first line and end of
            the last line as shown in the given example below.</p>
      </div>
      <div class="container">
        <h1>What is Html Color</h1>
        <p>HTML colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA values.</p>
      </div>
      <div class="container">
        <h1>What is RBG Color</h1>
        <p>The RGB value defines HTML color by mixing red, green, and blue values. The first number describes the red
          color input, the second – the green color input, and the third one – the blue color input.</p>
      </div>
      <div class="container">
        <h1>What is HEX Color</h1>
        <p>The Hex Color Can Be Defined As representing color by red,green and blue (#RRGGBB).</p>
      </div>
      <div class="container">
        <h1>What is Html Images</h1>
        <p>We Gernally Add Images To Make Our Web Page Butifull or Attractive</p>
        <p>We Can Add The Image In Html By Using img Tag</p>
        <code>
         &lt;img src="destination of Image" alt="This is an image">
       </code>
        <p>Here Src stands for the destination of Image or we can say that in which place the image is kept is defines
          the diretory of the page like <code>&lt;img src='c:/dekstop/img.jpg'></code></p>
        <p>Here Atl stands for the alternate text for an image it is used because if the src can't found the image it
          will show blank to show it is an image alt attribute is used in img tag</p>
      </div>
      <div class="container">
        <h1>What is a table in Html?</h1>
        <p>To Represent the data in flexible ,arranged and attractive manner</p>
        <h1>Types Of Table In Html</h1>
        <p>The &lt;tr> element defines a table row, the &lt;th> element defines a table header, and the &lt;td> element
          defines a table cell. A more complex HTML table may also include &lt;caption>, &lt;col>, &lt;colgroup>,
          &lt;thead>, &lt;tfoot>, and &lt;tbody> elements. Note: Tables should not be used for page layout!</p>
        <h1>Example Of Tabel In Html</h1>
        <div class="container bg-primary text-light">
          &lt;!DOCTYPE html><br>
          &lt;html><br>

          &lt;head><br>
          &lt;title>HTML Tables&lt;/title><br>
          &lt;/head><br>

          &lt;body><br>
          &lt;table border = "1"><br>
          &lt;tr><br>
          &lt;td>Row 1, Column 1&lt;/td><br>
          &lt;td>Row 1, Column 2&lt;/td><br>
          &lt;/tr><br>

          &lt;tr><br>
          &lt;td>Row 2, Column 1&lt;/td><br>
          &lt;td>Row 2, Column 2&lt;/td><br>
          &lt;/tr><br>
          &lt;/table><br>

          &lt;/body><br>
          &lt;/html><br>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <h1>Html List</h1>
      <p>HTML offers web authors three ways for specifying lists of information. All lists must contain one or more list
        elements. Lists may contain −

        &lt;ul> − An unordered list. This will list items using plain bullets.

        &lt;ol> − An ordered list. This will use different schemes of numbers to list your items.

        &lt;dl> − A definition list. This arranges your items in the same way as they are arranged in a dictionary.</p>
      <div class="bg-primary text-light">
        &lt;!DOCTYPE html><br>
        &lt;html><br>

        &lt;head><br>
        &lt;title>HTML Unordered List&lt;/title><br>
        &lt;/head><br>

        &lt;body><br>
        &lt;ul><br>
        &lt;li>Beetroot&lt;/li><br>
        &lt;li>Ginger&lt;/li><br>
        &lt;li>Potato&lt;/li><br>
        &lt;li>Radish&lt;/li><br>
        &lt;/ul><br>
        &lt;/body><br>

        &lt;/html><br>
      </div>
    </div>
    <br>
    <div class="container">
      <h1>What Is Class & Id </h1>
      <p>In the CSS, a class selector is a name preceded by a full stop (“.”) and an ID selector is a name preceded by a
        hash character (“#”). The difference between an ID and a class is that an ID can be used to identify one
        element, whereas a class can be used to identify more than one.</p>
      <div class="container bg-primary text-light">
        #top {<br>
        background-color: #ccc;<br>
        padding: 20px<br>
        }<br>

        .intro {<br>
        color: red;<br>
        font-weight: bold;<br>
        }<br>
      </div>
    </div>
    <br>
    <div class="container">
      <h1> Block-level Elements</h1>
      <p>A block-level element always starts on a new line and takes up the full width available (stretches out to the
        left and right as far as it can).</p>
      <h1>Inline Elements</h1>
      <p>An inline element does not start on a new line and only takes up as much width as necessary.</p>
    </div>
    <div class="container">
      <h1>What is an Iframe?</h1>
      <p>An HTML iframe is used to display a web page within a web page.</p>
      Example :&lt;iframe src="destination or url" height="200" width="300">&lt;/iframe>
    </div>
    <br>
    <div class="container">
      <h1>Computer Code</h1>
      <p>It Is Used when we have to the user that the text you have written is code for this we use &lt;code>&lt;/code>
      </p>
    </div>
    <div class="container">
      <h1>What is Responsive?</h1>
      <p>The Responsive means that you website automatically change height and width with respect to website.The
        viewport is the user's visible area of a web page. It varies with the device - it will be smaller on a mobile
        phone than on a computer screen.</p>
      <p> We Use &lt;meta name="viewport" content="width=device-width, initial-scale=1"> To Make our website
        responsive.It Is Embeded between head tag.</p>
    </div>
    <div class="container">
      <h1>What is Meta Tag?</h1>
      <p>It Is used to tell about Generic Impormation about a website</p>
      <p>

        &lt;meta charset="UTF-8">:
      <p>Specifies the character encoding for the HTML document</p><br>
      &lt;meta name="description" content="Free Web tutorials"><p>It Is used to set the description of the website</p>
      <br>
      &lt;meta name="keywords" content="HTML, CSS, JavaScript"><p>It Is Used to set the keyword of the website</p><br>
      &lt;meta name="author" content="John Doe"><p>It Define The name of autor who has built the website</p><br>
      &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"><p>The viewport is the user's visible
        area of a web page. It varies with the device - it will be smaller on a mobile phone than on a computer screen.
      </p><br>
      </p>
    </div>
  </section>
  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="copyright">
        <li>&copy; CodingThunder</li>
        <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
        <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
        <li><a href="Pages/PrivacyPolicy.html" style="text-decoration: none; font-size: 1.2rem; color: #fff;"
            data-toggle="tooltip" data-placement="top" title="Privacy Policy">Privacy Policy</a></li>
        <li><a href="Pages/Disclamer.html" style="text-decoration: none; font-size: 1.2rem; color: #fff;"
            data-toggle="tooltip" data-placement="top" title="Disclamer">DISCLAMER</a></li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/skel.min.js"></script>
  <script src="static/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="static/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/433888fe69.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.9/typed.min.js"></script>
</body>
<script>
  window.addEventListener('load', function () {
    const loader = document.querySelector(".loader");
    loader.className += ' hidden';
  });
</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<script>

  var myVar;

  function myFunction() {
    myVar = setTimeout(showPage, 3000);
  }

  function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("myDiv").style.display = "block";
  }

  mybutton = document.getElementById("myBtn");
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "inline";
    } else {
      mybutton.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

  window.onload = function () {
    console.log("loaded")
    var typed = new Typed('#typed', {
      strings: ["Hello I Am Abhishek Kumar", "Welcome to CodingThunder", "Learn To Make Awesome Websites", "Learn Web development", "Learn To Make Responsive Websites", "Learn Python Web Development", "and other awesome Web Development concepts with Abhishek Kumar :)"],
      backSpeed: 15,
      smartBackspace: true,
      backDelay: 1200,
      startDelay: 1000,
      typeSpeed: 25,
      loop: true,
    });
  };
</script>

</html>