<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Coding Thunder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700;1,900&family=Open+Sans+Condensed:wght@300&display=swap"
    rel="stylesheet">
  <style>
    html {
      scroll-behavior: smooth;
    }

    section {
      margin-top: 10px;
    }

    *,
    h1,
    h6,
    h5 {
      font-family: 'Merriweather', serif;
    }
  </style>
</head>

<body>
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <br>
            <br>
            <br>
            <center><h1>Coding Thunder</h1>
            <span class="subheading">This Website Is Created by Abhishek Kumar</span></center>
            <center>
              <h2 class="jumbotron-heading text-dark"><span id="typed"></span></h2>
            </center><br>
          </div>
        </div>
      </div>
    </div>
  </header>
 <div class="container">
            <h1 class="text-center" style="font-family: 'Poppins', sans-serif;">Learning Material</h1>
        </div>
<br>
<br>
<div class="container">
        <h1>Background Color</h1>
        <p>The Background Property of Css is used to Set The Color Of Background.</p>
        <hr>
        <h1>Background Image</h1>
        <p>This Property Sets The Background Page Of The Webpage.</p>
        <hr>
        <h1>Background Image - Repeat Horizontally or Vertically</h1>
        <p>By default, the background-image property repeats an image both horizontally and vertically.</p>
        <p>Some images should be repeated only horizontally or vertically, or they will look strange, like this:</p>
        <p>If the image above is repeated only horizontally (background-repeat: repeat-x;), the background will look
            better:</p>
        <hr>
        <h1>Showing the background image only once is also specified by the background-repeat property:</h1>
        <p>In the example above, the background image is shown in the same place as the text. We want to change the
            position of the image, so that it does not disturb the text too much.</p>
        <p>The position of the image is specified by the background-position property:</p>
        <hr>
        <h1>Background Image - Fixed position</h1>
        <p>To specify that the background image should be fixed Means It will not scroll with the rest of the page use the
            background-attachment property</p>
        <hr>
        <h1>Background - Shorthand property</h1>
        <p>To shorten the code, it is also possible to specify all the background properties in one single property.
            This is called a shorthand property.</p>
        <p>The shorthand property for background is background:</p>
        <p>When using the shorthand property the order of the property values is:</p>
        <ul>
            <li>background-color</li>
            <li>background-image</li>
            <li>background-repeat</li>
            <li>background-attachment</li>
            <li>background-position</li>
        </ul>
        <p>It does not matter if one of the property value is missing,as long as the other ones are in this order.</p>
        <hr>
        <br>
        <hr>
    </div>
    <footer>
      <br><br>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Coding Thunder 2020</p>
        </div>
      </div>
    </div>
    <br>
    <div class="container text-center">
      <a href="#Abhishek" class="btn px-5 rounded-pill shadow-sm backtotop" onclick="topFunction()" id="myBtn"
        style="background-color: #16c9f6; color: white;" title="Back To Top">Back to
        Top</a>
    </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/433888fe69.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.9/typed.min.js"></script>
<script>
  window.onload = function () {
      console.log("loaded")
      var typed = new Typed('#typed', {
          strings: ["Welcome to CodeWithHarry", "Learn Python", "Web development", "Data Science", "Machine Learning", "and other awesome programming concepts with me :)"],
          backSpeed: 15,
          smartBackspace: true,
          backDelay: 1200,
          startDelay: 1000,
          typeSpeed: 25,
          loop: true,
      });
  };
</script>
    
    </body>
    
    <script>
    mybutton = document.getElementById("myBtn");
    window.onscroll = function () { scrollFunction() };
    
    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "inline";
    } else {
    mybutton.style.display = "none";
    }
    }
    
    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
    
    window.onload = function () {
    console.log("loaded")
    var typed = new Typed('#typed', {
    strings: ["Hello I Am Abhishek Kumar", "Welcome to Computer King", "Learn To Make Awesome Websites", "Learn Web development", "Learn To Make Responsive Websites", "Learn Python Web Development", "and other awesome Web Development concepts with Abhishek Kumar :)"],
    backSpeed: 15,
    smartBackspace: true,
    backDelay: 1200,
    startDelay: 1000,
    typeSpeed: 25,
    loop: true,
    });
    };
    </script>
    
    </html>